{% extends "base/structure.html" %}

{% load staticfiles %}

{% block title %}코넬 베다니 교회 웹사이트 가입{% endblock %}

{% block content %}

<h1>코넬 베다니 교회 웹사이트 가입</h1>

<div class="register">

	<form action="/register/" method="POST">
		{% csrf_token %}

		<div class="form-errors-container form-errors"></div>

		<table cellpadding="0" cellspacing="0" width="100%" border="0">
			{% if form.last_name.errors %}
			<tr>
				<td></td>
				<td class="form-errors">{{form.last_name.errors.as_text}}</td>
			</tr>
			{% endif %}
			<tr>
				<td class="register-form-label">성</td>
				<td >{{form.last_name}}</td>
			</tr>
			{% if form.first_name.errors %}
			<tr>
				<td></td>
				<td class="form-errors">{{form.first_name.errors.as_text}}</td>
			</tr>
			{% endif %}
			<tr>
				<td class="register-form-label">이름</td>
				<td>{{form.first_name}}</td>
			</tr>
			{% if form.username.errors %}
			<tr>
				<td></td>
				<td class="form-errors">{{form.username.errors.as_text}}</td>
			</tr>
			{% endif %}
			<tr>
				<td class="register-form-label">아이디</td>
				<td class="form-username">{{form.username}}</td>
			</tr>
			{% if form.email.errors %}
			<tr>
				<td></td>
				<td class="form-errors">{{form.email.errors.as_text}}</td>
			</tr>
			{% endif %}
			<tr>
				<td class="register-form-label">이메일</td>
				<td>{{form.email}}</td>
			</tr>
			{% if form.password1.errors %}
			<tr>
				<td></td>
				<td class="form-errors">{{form.password1.errors.as_text}}</td>
			</tr>
			{% endif %}
			<tr>
				<td class="register-form-label">비밀번호</td>
				<td>{{form.password1}}</td>
			</tr>
			{% if form.password2.errors %}
			<tr>
				<td></td>
				<td class="form-errors">{{form.password2.errors.as_text}}</td>
			</tr>
			{% endif %}
			<tr>
				<td class="register-form-label">비밀번호 확인</td>
				<td>{{form.password2}}</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="가입하기"></td>
			</tr>
		</table>
	</form>

</div>

<script>
	$('#id_last_name').attr('placeholder', 'Last Name');
	$('#id_first_name').attr('placeholder', 'First Name');
	$('.form-username input').attr('placeholder', 'ID');
	$('#id_email').attr('placeholder', 'Email');
	$('#id_password1').attr('placeholder', 'Password');
	$('#id_password2').attr('placeholder', 'Password Confirm');
</script>

{% endblock %}





