<html>
{% load staticfiles %}
<head>
	<!--<script type="text/javascript" src="//use.typekit.net/foa0rqs.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>-->
	<meta name="viewport" content="width=device-width">
	{% block prestyles %}{% endblock %}
	<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
	<title>{% block title %}{% endblock %}</title>
	<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
	<script src="{% static "js/jquery-1.7.2.min.js" %}"></script>
	{% block styles %}{% endblock %}
	{% block meta %}{% endblock %}
	{% block head-js %}{% endblock %}
</head>
<body>
	{% block nav %}{% endblock %}
	<div id="container">
	{% block content %}{% endblock %}
	</div>
	{% block js %}
	{% endblock %}
</body>
</html>