<html>
{% load staticfiles %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="코넬 베다니 교회는 코넬 캠퍼스에 위치한 예수 그리스도 보혈의 사랑으로 회복됨과 세워짐이 있는 교회, 예수 그리스도 부활의 능력으로 승리하고 증거하는 교회를 소망합니다.">
	{% block prestyles %}{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
	<link rel="stylesheet" href="{% static 'css/pocketgrid.min.css' %}">
	<title>{% block title %}{% endblock %}</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	{% block styles %}{% endblock %}
	{% block meta %}{% endblock %}
	{% block head-js %}{% endblock %}
</head>
<body>
	<header class="hidden">
		<h1>Cornell Bethany Korean Church | 코넬 베다니 한인 교회</h1>
		<h1>이타카 교회</h1>
		<h1>코넬 교회</h1>
		<h1>Ithaca church</h1>
		<p>Cornell Bethany Korean Church is a church located in the Cornell campus with a focused goal of worshiping and glorifying God. We believe in the cleansing of our sins through Jesus Christ and his resurrection from the dead.</p>
		<p>2012년 5월 19일 창립된 코넬 베다니 교회(CBKC: Cornell Bethany Korean Church)는 하나님을 영화롭게 하는 것에 교회의 목적을 두고 있습니다. 코넬 베다니 교회는 예수 그리스도 보혈의 사랑으로 회복됨과 세워짐이 있는 교회, 예수 그리스도 부활의 능력으로 승리하고 증거하는 교회를 소망합니다.</p>
		<p>예수 그리스도의 십자가 사랑과 부활의 능력으로 하나님을 영화롭게 하는 교회</p>
		<p>keywords: Cornell, Bethany, Church, Cornell Korean Church, Cornell church, ithaca church, 코넬 교회, 이타카 교회, 코넬 베다니 교회, 코넬 한인 교회, 베다니 교</p>
	</header>
	<div id="container">
		{% block main %}{% endblock %}
	</div>
	{% block js %}
	{% endblock %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49702270-1', 'cornellbethany.org');
  ga('send', 'pageview');

</script>

</body>
</html>