{% load staticfiles %}

<nav>
	<ul>
		<li>
			<div>
				<p class="nav-english">ABOUT</p>
				<p class="nav-korean" {% if page == 'about' %}id="selected"{% endif %}><a href="/about/">교회소개</a></p>
			</div>
			{% if page == 'about' %}
			<div class="about-menu submenu">
			<ul>
				<li class="li-selected"><a href="#vision" title="church-vision">교회 프레임</a></li>
				<li><a href="#service" title="serving-people">섬기는 사람들</a></li>
				<li><a href="#history" title="church-history">교회 연혁</a></li>
			</ul>
			</div>
			{% endif %}
		</li>
		<li>
			<div>
				<p class="nav-english">VISIT</p>
				<p class="nav-korean" {% if page == 'visit' %}id="selected"{% endif %}><a href="/visit/">예배안내</a></p>
			</div>
		</li>
		<li>
			<div>
				<p class="nav-english">SERMONS</p>
				<p class="nav-korean" {% if page == 'sermons' %}id="selected"{% endif %}><a href="/sermons/">설교영상</a></p>
			</div>
		</li>
		<li>
			<div>
				<p class="nav-english">COMMUNITY</p>
				<p class="nav-korean" {% if page == 'community' %}id="selected"{% endif %}><a href="/community/">지역안내</a></p>
			</div>
			{% if page == 'community' %}
			<div class=" submenu">
			<ul>
				<li {% if subpage != 'student' %}class="li-selected"{% endif %}><a href="/community/">정착 도움</a></li>
				<li {% if subpage == 'student' %}class="li-selected"{% endif %}><a href="/community/student/">학교 생활</a></li>
			</ul>
			</div>
			{% endif %}
		</li>
		<li>
			<div>
				<p class="nav-english">KOREAN SCHOOL</p>
				<p class="nav-korean" {% if page == 'korean' %}id="selected"{% endif %}><a href="/korean/">한글학교</a></p>
			</div>
		</li>
		<li>
			<div>
				<p class="nav-english">GALLERY</p>
				<p class="nav-korean" {% if page == 'board' %}id="selected"{% endif %}><a href="http://cornellbethany.tumblr.com/archive" target="_blank">사진첩</a></p>
			</div>
		</li>
		<li>
			<div>
				<p class="nav-english">FACEBOOK</p>
				<p class="nav-korean"><a href="https://www.facebook.com/groups/291170957645458" target="_blank" style="color: #3B5998;">페이스북</a></p>
			</div>
		</li>
		<li>
			<div>
				<p class="nav-english">CONTACT</p>
				<p class="nav-korean" {% if page == 'contact' %}id="selected"{% endif %}><a href="/contact/">연락처</a></p>
			</div>
		</li>
	</ul>
</nav>

<script>
	$(function() {
		$('.about-menu li a').click(function() {
			$('.about-menu li').removeClass('li-selected');
			$(this).parent().addClass('li-selected');
			$('.sub-content').css('display', 'none');
			var _id = '#' + $(this).attr('title');
			console.log(_id);
			$(_id).css('display', 'inline-block');
			return false;
		});
	});
</script>

