{% extends "base/structure.html" %}

{% load staticfiles %}

{% block title %}Welcome to Cornell Korean Bethany Church{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.swipeshow.css" %}">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="hidden">
	<h1>Cornell Korean Bethany Church | 코넬 베다니 한인 교회</h1>
	<p>Cornell Korean Bethany Church is a church located in the Cornell campus with a focused goal of worshiping and glorifying God. We believe in the cleansing of our sins through Jesus Christ and his resurrection from the dead.</p>
	<p>2012년 5월 19일 창립된 코넬 베다니 교회(CBKC: Cornell Bethany Korean Church)는 하나님을 영화롭게 하는 것에 교회의 목적을 두고 있습니다. 코넬 베다니 교회는 예수 그리스도 보혈의 사랑으로 회복됨과 세워짐이 있는 교회, 예수 그리스도 부활의 능력으로 승리하고 증거하는 교회를 소망합니다.</p>
	<p>예수 그리스도의 십자가 사랑과 부활의 능력으로 하나님을 영화롭게 하는 교회</p>
	<p>keywords: Cornell, Bethany, Church, Cornell Korean Church, Cornell church, ithaca church, 코넬 교회, 이타카 교회, 코넬 베다니 교회, 코넬 한인 교회, 베다니 교</p>
</div>

<div class="swipeshow main-slideshow" id="main-slideshow">
	<ul class="slides">
		{% for slide in slides %}
		<li class="slide">
			<div class="slide-div" style="background-image: url('{{MEDIA_URL}}{{slide.image}}');"></div>
		</li>
		{% endfor %}
	</ul>
  	<i class="next slideshow-buttons fa fa-angle-right"></i>
  	<i class="previous slideshow-buttons fa fa-angle-left"></i>
</div>

<div class="main-menu">
	<div class="main-half main-half-left">
		<h2><a href="{% url 'notice_detail' %}">NEW NOTICES</a></h2>
			<table>
				<tr class="home-posttable-heading">
					<td>TITLE</td>
					<td class="home-posttable-date">DATE</td>
				</tr>
			{% for n in notices %}
			<tr>
				<td><a href="{% url 'notice_post' n.pk %}">{{n.title}}</a></td>
				<td>{{n.created|date:"n-j-y"}}</td>
			</tr>
			{% endfor %}
			</table>
		<h2><a href="{% url 'board' %}">NEW POSTS</a></h2>
			<table>
				<tr class="home-posttable-heading">
					<td>TITLE</td>
					<td class="home-posttable-date">DATE</td>
				</tr>
			{% for p in posts %}
			<tr>
				<td><a href="{% url 'post_detail' p.board.pk p.pk %}">{{p.title}}</a></td>
				<td>{{p.created|date:"n-j-y"}}</td>
			</tr>
			{% endfor %}
			</table>
	</div>
	<div class="main-half main-half-right">
		<h2><a href="{% url 'sermons' %}">THIS WEEK'S SERMON</a></h2>
		<div class="home-sermon">
			<a href="{% url 'sermon_detail' sermon.pk %}"><img src="{{sermon.thumbnail}}" alt="sermon thumbnail"></a>
			<p class="home-sermon-title"><a href="{% url 'sermon_detail' sermon.pk %}">{{sermon.title}}</a> <span class="home-sermon-verse"></span></p>
			<p class="home-sermon-info">{% if sermon.bible_verses|length > 3 %}{{sermon.bible_verses}} |{% endif %} {{sermon.preacher}} | {{sermon.date|date:"M j, o"}}</p>
		</div>
	</div>
	<div class="clear"></div>
</div>

{% endblock %}

{% block js %}

<script src="{% static "js/jquery.swipeshow.min.js" %}"></script>
<script>
	$(function() {
		$('#main-slideshow').swipeshow({
			interval: 5000,
			mouse: true,
		});
	});
	$(window).load(function() {
		var leftHalf = $('.main-half-left');
		var rightHalf = $('.main-half-right');
		if (leftHalf.height() > rightHalf.height()) {
			rightHalf.height(leftHalf.height());
		} else {
			leftHalf.height(rightHalf.height());
		}
	});
</script>

{% endblock %}
