{% extends "base/structure.html" %}

{% load staticfiles %}

{% block title %}코넬 베다니 교회 설교{% endblock %}

{% block content %}

<h1>주일 설교 영상<span class="eng-heading">SERMONS</span></h1>

<div class="sermons">
	<ul>
		{% for s in sermons %}
		<li>
			<div class="sermon-container">
				<a href="/sermons/{{s.pk}}/"><img src="{{s.thumbnail}}" alt="{{s.title}}"></a>
				<p class="sermon-title"><a href="/sermons/{{s.pk}}/">{{s.title}}</a></p>
				<p class="sermon-info">{{s.bible_verses}} | {{s.preacher}} | {{s.date|date:"n.j.o"}}</p>
			</div>
		</li>
		{% endfor %}
	</ul>
	<div class="clear"></div>
	<div class="sermon-paginator">
		{% for i in total_pages %}
			{% if i == current_page %}
			<a id="pagination-current-page" href="?pages={{i}}">{{i}}</a>
			{% else %}
			<a href="?pages={{i}}">{{i}}</a>
			{% endif %}
		{% endfor %}
	</div>
</div>

{% endblock %}

