{% extends "base/structure.html" %}

{% load staticfiles %}

{% block title %}Visit | Cornell Bethany Korean Church{% endblock %}

{% block styles %}

<style type="text/css">
	#map-canvas {
		height: 300px;
		margin: 0px;
		margin-top: 40px;
		padding: 0px
	}
</style>
{% endblock %}

{% block content %}


<h1>예배안내<span class="eng-heading">VISITING BETHANY</span></h1>

<div class="visit">
	<p>코넬 베다니 교회는 코넬 대학교 학생 단체로 정식 등록되어 있으며 코넬 메인 캠퍼스인 이타카 캠퍼스에서 예배를 드립니다.</p>
	<h2>예배 시간표</h2>
	<table>
		<tr>
			<td>주일 예배</td>
			<td>주일 12:30pm</td>
			<td>Upson Hall B17</td>
		</tr>
		<tr>
			<td>어린이 주일 학교</td>
			<td>주일 12:30pm</td>
			<td>Upson Hall 109</td>
		</tr>
		<tr>
			<td>대학 청년부 모임</td>
			<td>금요일 7:30pm</td>
			<td>Willard Straight Hall, Garden Room</td>
		</tr>
		<tr>
			<td>삶성경공부 형제 모임</td>
			<td>주일 3:00pm</td>
			<td>Upson Hall</td>
		</tr>
		<tr>
			<td>삶성경공부 자매 모임</td>
			<td>금요일 10:00am</td>
			<td>신혜선 집사님댁</td>
		</tr>
		<tr>
			<td>한글 학교</td>
			<td>주일 2:45pm</td>
			<td>Upson Hall 1st Floor Lounge</td>
		</tr>
	</table>
</div>

<div id="map-canvas" class="slide-div"></div>

{% endblock %}

{% block js %}

<script src="{% static "js/jquery.swipeshow.min.js" %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
function initialize() {
  var myLatlng = new google.maps.LatLng(42.4441673, -76.4827878);
  var mapOptions = {
    zoom: 17,
    center: myLatlng
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Upson Hall - 124 Hoy Road, Ithaca, NY 14850'
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>

{% endblock %}
