@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: 'Nanum Gothic', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", 'museo-sans', sans-serif;
  color: #444444;
  text-rendering: optimizeLegibility;
}
a {
  color: #999999;
}
p {
  line-height: 1.35em;
}
.clear {
  clear: both;
}
#container {
  margin: 0 auto;
  width: 810px;
  padding-top: 25px;
  position: relative;
}
.nav-block,
.content-block {
  display: inline-block;
  vertical-align: top;
}
.header-block {
  width: 100%;
  height: 120px;
}
.nav-block {
  width: 220px;
  position: fixed;
}
.content-block {
  width: 650px;
  margin-left: 160px;
}
.background {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.centered {
  text-align: center;
}
.header {
  float: left;
  position: fixed;
}
.header img {
  width: 150px;
}
.header img:hover {
  opacity: 0.7;
}
.header-login {
  float: right;
}
.nav-loggedin tr {
  color: #888888;
  font-size: 0.85em;
}
.nav-loggedin a {
  color: #888888;
}
.nav-loggedin form {
  display: inline;
}
.logged-in-username {
  color: #0095c0;
  font-weight: 700;
}
.logout-button {
  border: none;
  border-bottom: 3px solid #dddddd;
  cursor: pointer;
  background-color: white;
  color: #888888;
  font-size: 0.9em;
  color: #444444;
}
.logout-button:hover {
  background-color: #dddddd;
}
.login-table input {
  height: 30px;
}
.login-table input[type="text"],
.login-table input[type="password"] {
  border: none;
  border-bottom: 3px solid #eeeeee;
  font-family: 'Nanum Gothic', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", 'museo-sans', sans-serif;
  width: 150px;
  margin-right: 15px;
  font-size: 0.8em;
  padding: 1px 2px 1px 2px;
  outline: none;
}
.login-submit,
.login-signup {
  font-size: 0.8em;
  font-family: 'Nanum Gothic', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", 'museo-sans', sans-serif;
  background-color: white;
  font-weight: 600;
  border: none;
}
.login-submit {
  height: 30px;
  border-bottom: 5px solid #0095c0;
  cursor: pointer;
}
.login-submit:hover {
  background-color: #0095c0;
  color: white;
}
.login-signup {
  border-bottom: 5px solid #dddddd;
  padding-bottom: 6px;
  padding-left: 3px;
  padding-top: 3px;
}
.login-signup:hover {
  background-color: #dddddd;
}
.login-signup a {
  color: #444444;
  text-decoration: none;
}
nav {
  padding-top: 10px;
}
nav ul {
  padding-left: 7px;
}
nav ul li {
  list-style-type: none;
}
nav ul li #selected a {
  color: #0095c0;
}
nav ul li .nav-korean {
  margin-top: 0px;
  margin-bottom: 14px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 1.3em;
  font-weight: 700;
}
nav ul li .nav-korean a {
  color: #444444;
  text-decoration: none;
}
nav ul li .nav-korean a:hover {
  color: #0095c0;
}
nav ul li .nav-english {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 0.67em;
}
.content-box {
  width: 96%;
  margin: 0 auto;
  display: block;
  padding-bottom: 120px;
}
.content-box h1 {
  margin-top: 0px;
}
.content-box h1 .eng-heading {
  font-size: 0.5em;
  padding-left: 10px;
  color: #777777;
  font-weight: 300;
}
.main-image {
  width: 100%;
  height: 300px;
}
.swipeshow {
  width: 100%;
  height: 400px;
}
.swipeshow ul {
  padding-left: 0px;
}
.slides {
  width: 100%;
}
.slide-div {
  margin: 0 auto;
  height: 400px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.object {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}
.object hr {
  margin-top: -15px;
}
.object p {
  line-height: 1.5em;
}
.object a {
  color: #777777;
}
.object h2 {
  margin-top: 0px;
}
.object #navigation {
  margin-top: -20px;
  background-color: #eee;
  border: 1px solid #cccccc;
  display: inline-block;
}
.object #navigation a {
  color: #888888;
  text-decoration: none;
}
.object #navigation a:hover {
  text-decoration: underline;
}
.object #navigation li {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 0.9em;
  color: #888888;
}
.object #navigation h3 {
  padding-left: 25px;
  padding-right: 25px;
}
.object #navigation ol {
  padding-left: 45px;
  padding-right: 15px;
}
.object #navigation ul {
  display: inline-block;
}
.sermons ul {
  padding-left: 0px;
  margin-top: 0px;
}
.sermons ul li {
  list-style-type: none;
  width: 48%;
  margin-right: 10px;
  float: left;
}
.sermons .sermon-container {
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.sermons .sermon-container img {
  width: 100%;
  height: 200px;
}
.sermons .sermon-title {
  font-weight: 700;
  font-size: 1.1em;
  margin-top: 12px;
}
.sermons .sermon-title a {
  color: #444444;
  text-decoration: none;
}
.sermons .sermon-title a:hover {
  text-decoration: underline;
}
.sermons .sermon-info {
  margin-top: 4px;
  font-weight: 300;
  font-size: 0.9em;
}
.sermons .sermon-title,
.sermons .sermon-info {
  margin-bottom: 0px;
}
.sermons .sermon-paginator {
  margin-top: 60px;
  text-align: center;
}
.sermons .sermon-paginator a {
  padding-left: 2px;
  padding-right: 2px;
  font-size: 1em;
  color: #888888;
  text-decoration: none;
}
.sermons .sermon-paginator a:hover {
  text-decoration: underline;
}
.sermon-detail h1 {
  margin-top: 0px;
}
.sermon-detail h1,
.sermon-detail p {
  float: left;
}
.sermon-detail .sermon-detail-info {
  padding-bottom: 10px;
}
.sermon-detail .sermon-detail-info .sermon-detail-header {
  text-align: center;
  font-weight: 700;
  font-size: 1.2em;
  display: block;
}
.sermon-detail .sermon-detail-info .sermon-detail-info {
  margin-left: 20px;
  font-size: 0.9em;
}
.sermon-detail .sermon-detail-info .sermon-list-link {
  float: right;
}
.sermon-detail .sermon-detail-info .sermon-list-link a {
  color: #444444;
}
.sermon-detail .main-sermon iframe {
  width: 100%;
  height: 400px;
}
.board-layout table {
  table-layout: fixed;
}
.board-layout table tr {
  border-bottom: 1px solid #eeeeee;
  padding: 0 0 0 0;
}
.board-layout table tr:hover {
  background-color: #eeeeee;
}
.board-layout table td {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #999999;
  font-size: 0.9em;
}
.board-layout table .board-table-header td {
  color: #555555;
  font-weight: 700;
  background-color: #eeeeee;
}
.board-layout table .board-title {
  width: 60%;
  border-bottom: 1px solid #eeeeee;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}
.board-layout table .board-title a {
  color: #999999;
  text-decoration: none;
}
.board-layout table .board-title a:hover {
  text-decoration: underline;
}
.board-layout table .board-author,
.board-layout table .board-date {
  width: 20%;
  text-align: center;
  border-bottom: 1px solid #eeeeee;
}
.board-paginator {
  margin-top: 20px;
  margin-left: 10px;
}
.board-paginator a {
  padding-right: 5px;
  color: #999999;
  text-decoration: none;
  font-size: 0.9em;
}
.board-title {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 5px;
}
.board-title h2,
.board-title p {
  display: inline-block;
  margin-bottom: 5px;
}
.board-title h2 a {
  color: #444444;
  text-decoration: none;
}
.board-title h2 a:hover {
  text-decoration: underline;
}
.board-title p {
  font-size: 0.9em;
  color: #888888;
  margin-left: 5px;
  display: inline;
}
.board-see-more {
  float: right;
  margin-right: 0px;
  padding-top: 20px;
  font-size: 0.8em;
}
.board-see-more a {
  color: #999999;
  text-decoration: none;
}
.board-add-post {
  float: right;
  padding-top: 15px;
}
.board-add-post a {
  color: #888888;
  text-decoration: none;
}
.board-add-post a:hover {
  text-decoration: underline;
}
.post-container .post-title {
  border-bottom: 1px solid #cccccc;
}
.post-container .post-title h2 {
  margin-bottom: 8px;
  display: inline-block;
}
.post-container .post-info-label {
  font-size: 0.8em;
  margin-right: 2px;
  color: #777777;
}
.post-container .post-info {
  border-bottom: 1px dotted #cccccc;
}
.post-container .post-info td {
  margin: 0 0 0 0;
  padding: 10px 0px 10px 0px;
  font-size: 0.9em;
  color: #777777;
}
.post-container .post-info table {
  table-layout: fixed;
  width: 100%;
}
.post-container .post-info table .post-info-author {
  width: 60%;
}
.post-container .post-info table .post-info-date,
.post-container .post-info table .post-info-views {
  width: 20%;
}
.post-container .post-info table .post-info-views {
  text-align: right;
}
.post-container .post-content {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #cccccc;
}
.post-container .post-content p {
  line-height: 1.4em;
}
.post-container .post-edit-anchor,
.post-container .post-delete-anchor {
  float: right;
  padding-top: 33px;
  padding-left: 15px;
  color: #888888;
  font-size: 0.8em;
  text-decoration: none;
}
.post-container .post-edit-anchor:hover,
.post-container .post-delete-anchor:hover {
  text-decoration: underline;
}
.post-container #id_title {
  width: 100%;
  height: 45px;
  font-family: 'Nanum Gothic', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", 'museo-sans', sans-serif;
  font-weight: 700;
  font-size: 1.35em;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
}
.post-container #post-form-submit {
  margin-top: 20px;
}
#pagination-current-page {
  color: #777777;
  font-weight: 700;
}
.main-menu {
  margin-top: 20px;
}
.slideshow-buttons {
  position: absolute;
  top: 45%;
  z-index: 9999;
  background-color: none;
  font-size: 3.5em;
  color: #888888;
  cursor: pointer;
}
.slideshow-buttons:hover {
  color: #444444;
}
.next {
  right: 10px;
}
.previous {
  left: 10px;
}
.main-half {
  float: left;
}
.main-half h2 {
  padding-top: 20px;
  margin-top: 0px;
  font-size: 1.3em;
  letter-spacing: 2px;
}
.main-half a {
  color: #444444;
  text-decoration: none;
}
.main-half a:hover {
  text-decoration: underline;
}
.main-half-left {
  width: 49%;
  border-right: 1px solid #bbbbbb;
}
.main-half-left h2,
.main-half-left p {
  padding-right: 30px;
}
.main-half-left table {
  width: 95%;
}
.main-half-left table tr:hover {
  background-color: #e6e6e6;
}
.main-half-left table td {
  font-size: 0.9em;
  padding: 3px 3px 3px 3px;
  border-bottom: 1px solid #e6e6e6;
}
.main-half-left .home-posttable-heading {
  background-color: #e6e6e6;
}
.main-half-left .home-posttable-date {
  width: 30%;
}
.main-half-right {
  width: 50%;
}
.main-half-right h2,
.main-half-right p {
  padding-left: 20px;
  padding-right: 15px;
}
.home-sermon {
  text-align: center;
}
.home-sermon img {
  width: 90%;
  height: 200px;
}
.home-sermon p {
  text-align: left;
}
.home-sermon .home-sermon-title {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 3px;
}
.home-sermon .home-sermon-title a {
  color: #666666;
  text-decoration: none;
}
.home-sermon .home-sermon-title a:hover {
  text-decoration: underline;
}
.home-sermon .home-sermon-verse,
.home-sermon .home-sermon-info {
  font-size: 0.7em;
  color: #777777;
  font-weight: 400;
}
.home-sermon .home-sermon-info {
  margin-top: 0px;
}
.submenu {
  padding-bottom: 20px;
}
.submenu ul {
  margin-top: 0px;
}
.submenu ul .li-selected a {
  background-color: #0095c0;
  color: white;
}
.submenu ul li {
  display: block;
}
.submenu ul li a {
  display: inline-block;
  padding: 5px 5px 5px 5px;
  color: #666666;
  font-weight: 700;
  text-decoration: none;
}
.interviews {
  margin-top: 50px;
}
.interview-title {
  font-size: 1em;
  margin-bottom: 0px;
}
.interview-title a {
  color: #444444;
  text-decoration: none;
}
.interview-title a:hover {
  text-decoration: underline;
}
.interview-major {
  font-weight: 700;
}
.interview-year {
  margin-top: 3px;
  font-size: 0.8em;
  color: #999999;
}
.interview-answers {
  display: none;
}
.interview-answers p {
  width: 100%;
  line-height: 1.5em;
}
.content {
  width: 100%;
}
.content p,
.content ol,
.content ul {
  line-height: 1.5em;
}
.content .strong {
  font-weight: 700;
}
.content .pheader {
  font-size: 1.15em;
  margin-top: 25px;
  margin-bottom: 5px;
}
.content #church-vision ul,
.content #church-vision ol {
  padding-left: 22px;
}
.content #serving-people {
  display: none;
}
.content #serving-people ul {
  padding-left: 0px;
}
.content #serving-people ul li {
  list-style-type: none;
}
.content #serving-people img {
  width: 100%;
}
.content #serving-people #serving-people-pic {
  margin-top: 30px;
  text-align: center;
}
.content #church-history {
  display: none;
}
.content #church-history p {
  margin-top: 0px;
}
.content #church-history ul {
  margin-top: 0px;
  padding-left: 0px;
}
.content #church-history ul li {
  list-style-type: none;
}
.visit h2 {
  margin-top: 30px;
}
.visit table {
  text-align: left;
}
.visit table td {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 25px;
}
.register {
  text-align: left;
}
.register form {
  margin-top: 30px;
}
.register form table {
  margin: 0 auto;
}
.register form table tr {
  padding-top: 10px;
}
.register form table td {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
}
.register form table td input {
  width: 200px;
  height: 30px;
  padding: 3px 5px 3px 5px;
  font-size: 1em;
  font-family: 'Nanum Gothic', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", 'museo-sans', sans-serif;
  border: none;
  border: 1px solid #cccccc;
}
.register form table .register-form-label {
  text-align: right;
}
.register input[type="submit"] {
  cursor: pointer;
}
.form-errors-container {
  text-align: center;
}
.form-errors {
  font-size: 0.75em;
  color: #B20000;
}
.register-success {
  margin-top: 60px;
  margin-bottom: 50px;
  text-align: center;
}
.register-success a {
  color: #888888;
}
.login {
  text-align: center;
}
.login table {
  table-layout: fixed;
}
.login table tr {
  padding-top: 10px;
}
.login table td {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
}
.login input {
  width: 200px;
  height: 30px;
  padding: 3px 5px 3px 5px;
  font-size: 1em;
  font-family: 'Nanum Gothic', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", 'museo-sans', sans-serif;
  border: none;
  border: 1px solid #cccccc;
}
footer {
  padding-left: 7px;
  font-size: 0.8em;
  bottom: 0px;
  display: block;
  padding-bottom: 60px;
  font-weight: 400;
  color: #888888;
}
footer p {
  width: 90%;
}
.hidden {
  display: none;
}
